/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*****************************************************************/
:root{
	--mainFont:'Chivo Mono', monospace;
	--mainColor: #011D2F;
	--secondaryColor: #AFC4C6;
}
::-webkit-scrollbar {
    width: 0px; 
    height: 0px; 
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}
body{
	width: 100%;
	height: 95vh;
	background-color: #FFF7EA;
}

header
{
	position: relative;
	width: 100%;
	height: 8%;
}
.header_container{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: var(--secondaryColor);

}
#kata_title
{
	width: 20%;
	height: 100%;
	color: var(--mainColor);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	font-family: var(--mainFont);
	letter-spacing: -2px;
	font-weight: bold;
	
}

nav{
	width: 80%;
	height: 100%;	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	justify-content: right;
	color: white;
	padding: 0px 0;
	
}
.options {
	display: flex;

  }
  
.options a {
  text-decoration: none;
  color: white;
  margin-right: 65px;
  font-size: 20px;
  font-family: var(--mainFont);
  color: var(--mainColor);
  font-weight: 600;
}
main
{
	height: 100%;
	width: 100%;
}

.features_container{
	position: relative;
	width: 100%;
	height: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
}



.show_catalog_container{
	position: relative;
	width: 100%;
	height: 36%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: auto;
}

#search_bar{
	position: relative;
	display: flex;
	width: 100%;
	height: 60%;
	z-index: 1;
	background-image: url('/resources/katacloud_ofi.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#request_form{
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#search_form input[type="submit"],
#request input[type="submit"] {
    border: 1px solid var(--mainColor);
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--secondaryColor);
    color: var(--mainColor);
    font-size: 15px;
    font-family: var(--mainFont);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.3s;
}
#request input[type="submit"]:hover {
    background-color: darken(var(--secondaryColor), 20%); 
	border: 3px solid black;
}

#request input[type="submit"]:active {
    transform: translateY(5px); 
}

#show_result_search,
#show_result
{
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
#show_result_search table, 
#show_result table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: var(--mainFont);
    box-shadow: 0 0 20px var(--secondaryColor);
}




#show_result_search th, 
#show_result_search td,
#show_result th, 
#show_result td {
	padding: 20px;
    vertical-align: middle;   
	text-align: center;
    border-bottom: 1px solid var(--secondaryColor);
}
#show_result_search th,
#show_result th {
    background-color: var(--secondaryColor);
    color: var(--mainColor);
    font-weight: bold;
}

#show_result_search tbody tr:hover,
#show_result tbody tr:hover {
    background-color:#5b8097;
	color: white;
}

#show_result_search tbody tr:last-child td,
#show_result tbody tr:last-child td {
    border-bottom: none;
}
.see_more
{
	border-radius: 2px;
	border: 1px solid black;
	font-family: var(--mainFont);
	background-color: #AFC4C6;
}
#search_bar{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#search_form{
	height: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
    padding: 20px;
    width: 75%;
}

#search_form p {
    font-size: 18px;
    font-family: var(--mainFont);
    padding: 15px;
	color: white;
	background-color: black;
	height: 100%;
	text-align: center;

}
#search_box {
    width: 100%;
	height: 100%;
    padding: 15px;
    border: 0px solid var(--mainColor);
    font-size: 16px;
	font-family: var(--mainFont);
}

.catalog_title_container{
	position: relative;
	height: 7%;
	padding-top: 1rem;
	font-size: 30px;
	font-weight: bold;
	color: var(--mainColor);
	width: 100%;
	font-family: var(--mainFont);
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}